[2020-04-15 09:39] anistad opened #3 "apply_rule_from_excel() does not change infiltration values for MFH"
The method apply_rule_from_excel() does not change the infiltration values for MFH according to the values given in replace.xlsx for different energy standards. Seems like` idfobj.Name not in ('*', xls_value[1].Name)` to not catch the objects to change.

As a result, the reduction in energy demand from a better energy standard is lower for MFH than SFH.
Is this how it should be?

[2020-04-27 08:17] anistad opened #4 "U-values and infiltration rates for other regions than USA"
@nheeren The U-values and infiltration rates for the MFH and SFH is based on typical values for USA. Did you change them when simulating energy demand for other regions?

[2020-04-27 12:35] #4 closed, assigned to nobody

[2020-04-27 12:38] anistad opened #5 "bash script"
@nheeren Do you have the bash script you used for the Yale cluster somewhere? Could you upload it if so?

[2020-05-05 22:01] #5 closed, assigned to nobody

[2020-05-24 18:59] nheeren opened #6 "Material layers are being counted only once"
@kamilitsa wrote on 24th May 2020:

[2020-06-05 10:27] anistad opened #8 "Organizing further development"
Hi @nheeren!

I have now cleaned up my main development branch (adding-highrise) where I have been working on the update of BuildME for this round of ODYM-RECC simulations . Meaning, mainly adding the RT archetype. I still have changes I want to do and a bit of clean up/improving documentation etc.

How do we integrate this into the existing code? Should I open a pull request and we review the cha

[2020-06-08 07:17] anistad opened #9 "Future work / Wish list"
Andrea's list of things that would be nice to change/implement:

- [x] Rename HR to RT in code
- [ ] Vary the MI and dimensions of foundation and columns depending on # floors and size of building
- [ ] Flat slabs implemented currently. Check effect of beam and slab system instead on final MI values

- [ ] Check lightweighting for RT vs. MFH and SFH. Could lightweighting for RT be more ambitious?

[2020-06-16 13:27] #6 closed, assigned to nobody

[2020-06-16 13:59] #3 closed, assigned to nobody

[2020-06-16 14:00] #8 closed, assigned to nobody

[2020-06-22 11:45] anistad opened #11 "Zone temperature far below set point for SFH and MFH"
The zone temperature drops below 20 degrees for multiple hours during the year in the SFH and MFH, despite that the heating setpoint is set to 22,22 C. This does not occur for the RT. See zone temperature for SFH in Germany below. Need to investigate why it happens and fix.

![image](https://user-images.githubusercontent.com/50742978/85283661-09250c00-b48e-11ea-8776-b4aa1e44cd6d.png)

[2020-07-13 14:36] anistad opened #13 "add RT documentation to BuildME/docs"
Documentation for the development of the RT is currently only stored on Dropbox RECC. Should convert to md and add to BuildME/docs.

[2020-07-15 09:01] #13 closed, assigned to anistad

[2020-07-21 07:44] kamilitsa opened #14 "Implementing thermal comfort model"
As suggested by @nheeren in [the to do list for the BuildME paper](https://github.com/nheeren/BuildME-paper/blob/master/workflow/TODO.md), it would be useful to implement a thermal comfort model in BuildME. This model should allow to cool the buildings using natural ventilation (window opening) when certain conditions are met, which is a common practice especially in warmer climates. I have done s

[2020-07-21 07:53] kamilakrych opened #15 "Simplifying the HVAC system"
As discussed with @nheeren and @anistad during our yesterday's call, the HVAC system used in the BuildME archetypes is probably too complex considering the application. It would be nice to simplify it with the use of IdealLoads. I've used such a simplified HVAC system in my thesis (for Brazilian office buildings) so I can try to implement it here as well.

[2020-07-21 08:31] kamilitsa opened #16 "Ground temperature is constant"
Currently, the building archetypes don't include an object specifying ground temperatures. As a result, a default value of 18 degrees is used by EnergyPlus throughout the year. This should be fixed at some point because it can influence energy demand of the buildings (to what extent?). If I have enough time during my summer internship, I can try to fix it, but at this point other issues have more

[2020-08-06 12:17] anistad opened #17 "Finalize and validate modeling of office archetype"
I have pushed my work related to the office archetype to the branch [office-archetype](https://github.com/nheeren/BuildME/tree/office-archetype). I did not want to open a pull request yet, as this is still work in progress.

The following items should be finalized and validated before merging into the master branch:
- [ ] Only the basecase material scenario (RES0) is defined yet. Scenario RES2.1,

[2020-08-07 12:11] anistad opened #18 "Cooling setpoint and exterior shading overwritten."
Commit 23ab6ee28d66e39ee6288eda876c78af99096c94 overwrote the changes to cooling set point (25.5 C to 26 C) for the SFH and MFH and the change from interior to exterior blind for MFH. Commit e6cfd28535e21ad059e43fc0719b7b5ed5d1085 pushed directly to master branch fixes this.

[2020-08-07 12:12] #18 closed, assigned to anistad

[2020-10-19 13:04] shnkn opened #21 "SFH: Why the indoor temperature values of attic have worse condition compared to the outdoor?"
The attic's defined zone has lower indoor air temperature values than the outside in winter (nights). Moreover, the zone has higher temperature values (e.g., up to 57 C in the 4C Climate zone for the USA) than outside in summer. The problem could be related to the heat transfer rate differences between the envelope surfaces and ground/air/adjacent zones.

I will try to update this thread once I co

[2020-11-02 13:37] aishuiyer1 opened #22 "Version and folder issues while running BuildME on a Mac"
I was trying to run BuildMe on my Mac, and I ran into a couple of issues. Firstly, the main.py file was unable to run due to the inability to find a particular folder. A screenshot of the error is attached below:

![Screen Shot 2020-11-02 at 08 27 17](https://user-images.githubusercontent.com/51371504/97873204-45dafc80-1ce5-11eb-9eed-648d5972a2c0.png)

I fixed this by moving the main.py file out o

[2020-11-02 15:47] aishuiyer1 commented on #22
@nheeren @kamilitsa would be great if you could share your solutions, if they are different!

[2020-11-02 16:32] kamilitsa commented on #22
I had a similar folder issue and I think it has nothing to do with your laptop being Mac (I'm on Windows). I believe it's caused by the fact that in order for the code to work, the "basepath" needs to be the main folder, not the "BuildME" subfolder. However, when the "main.py" is placed in the "BuildME" subfolder, I think (?) this becomes the "basepath" by default.

In your case Aishwarya, the iss

[2020-11-03 13:02] shnkn commented on #21
In this issue, the following questions were answered:

_1- Why does the zone have a lower indoor temperature in winter compared to the outside dry-bulb temperature at night?_

The BuildME reports outside air dry-bulb temperature variable in the results and it has higher values than the zone's mean air temperature. However, the site sky temperature of the location is lower than the zone's mean air

[2020-11-05 17:39] nheeren commented on #21
I guess we could close the issue for now or why did you reopen?

[2020-11-05 17:49] shnkn commented on #21
Yes, sure. I thought maybe you would like to give the decision whether it should be closed or not.

[2020-11-05 17:49] #21 closed

[2020-11-05 17:50] nheeren commented on #22
Thanks for opening this issue!

I am not sure how `main.py` ended up in the `BuildME` subfolder, but it is supposed to be one folder up. Just as you already figured out. I will push it next time I work on the code. Feel free to do so in case you need a git exercise ;)

os.chdir(os.path.dirname(os.getcwd()))

Although this is a viable solution, I would like something more permanent.

The issue with

[2020-11-05 17:51] nheeren commented on #21
Whoever fells like it can reopen it ;)

[2020-11-23 12:18] aishuiyer1 opened #24 "Weather File in .idf files"
The weather description in .idf files for all simulations is the same - for Hartford.

However, this is the weather described in all default .idf files in BuildME/data/archetype, and does not get changed in the idf.py file. The energy and temperature results for simulations from different locations do differ significantly enough, indicating that this may just be an omission in editing the .idf fil

[2020-12-07 13:05] #24 closed

[2020-12-21 13:12] #22 closed

[2021-01-22 18:35] kamilitsa commented on #16
I've had a look at this issue (finally!). The error we get looks like this:
[code]
I've managed to solve this issue. It was caused by the fact that `GroundHeatTransfer` objects were not really actively used because `GroundHeatTransfer:Control` fields were telling EP _not to run_ preprocessing simulations of ground heat transfer. This preprocessing is required, so we need to set this field to 'Yes'

[2021-01-28 13:50] kamilitsa commented on #15
@shnkn Sahin, you managed to do this! Maybe you can try to explain how you did it, upload the updated files, and we close this issue :blush:

[2021-01-28 14:23] kamilitsa commented on #11
I had a look and indeed, for cold climates like Fairbanks, Alaska (climate 8 in the US), we get "zone mean air temperatures" quite low, below 15 degrees.

However, I also had a look at the idf files that Sahin has created, in which he substituted our overly complex HVAC system with Ideal Loads system. It seems that this issue is gone! I checked using SFH archetype, standard, USA, climate region 8.

[2021-01-28 14:26] kamilitsa commented on #14
Maybe it's possible to merge this issue with [this one](https://github.com/nheeren/BuildME-paper/issues/7) from BuildME-paper? It's essentially the same issue.

[2021-01-28 14:56] nheeren commented on #11
Awesome! 😎

I am all for pragmatically solving issues 😋
But any ideas how the issue disappeared?

[2021-01-28 16:00] kamilitsa commented on #11
I don't really know, haven't looked into details. Any idea @shnkn?

[2021-02-04 11:20] shnkn opened #25 "Schedule alternatives for MFH"
### **Occupancy Schedules for MFH**

As we have talked about in our previous check-ins, I tried to compile alternative occupancy schedules that we might use in the MFH archetypes. I tried to look for widely used sources published/released/presented by various established institutions/communities/software companies for data reliability. Below, I compared the existing occupancy schedule with its alt

[2021-02-04 15:50] shnkn commented on #15
Thank you @kamilitsa! I have created a branch for it, pushed it to the master (if it is the correct term :)) but I am attaching the final files at the end of the post, just in case. These files are calibrated in a way that they can have a similar final Kwh/m2 value to the previous complex HVAC versions. Cooling and Heating energy consumption are shifted to District Heating and District Cooling Loa

[2021-02-12 14:21] shnkn commented on #11
@kamilitsa I do not have any idea as well, I am assuming that Ideal Loads HVAC components try to heat or cool the building according to the given setpoints. No matter how much energy required for these operations, it is provided from the district heating and cooling accordingly.

I have never worked with HVAC components other than Ideal Loads before, so I would anticipate this kind of result norma

[2021-02-12 14:28] shnkn commented on #15
I still have some concerns about whether these calibrated values work correctly for different climate zones as well. I am thinking to do some additional comparisons with archetypes in cold/hot/mild climates. If those values are not working similarly, we might need to define an average value that fits in all cases. Therefore, another calibration process might be required. I hope it is not like that

[2021-05-25 12:23] kamilitsa opened #26 "Amount of wall material is not influenced by window size"
As Tazrin has recently discovered, changing the window size doesn't influence the amount of material in walls. This is clearly wrong, as the bigger windows we have, the less "wall material" we should be left with (bricks, insulation, wood - whatever constitutes the walls). Currently, the only material type that is influenced by the change in window size is the amount of glass.

This bug is caused

[2021-05-25 15:37] kamilitsa commented on #26
@nheeren This is the bug I recently told you about. I managed to fix it, and tried to upload the fix as a new branch. I'm doing this for the first time, so if I'm not mistaken, now it's just enough to merge my branch with the master one 😉

[2021-05-25 15:45] kamilitsa commented on #15
@shnkn Maybe I'm wrong, but I cannot see these changes in the master branch, or in any other branches? Do you still remember how you did this?

[2021-07-06 11:26] #26 closed

[2021-07-27 13:15] shnkn commented on #25
Based on our consensus, ISO schedules were applied to lighting and occupancy schedules. @kamilitsa added a commit including the new changes in this issue.

**Lighting Schedules**:
According to the ISO reference, lighting schedules for interior spaces and their lighting intensities (W/m2) were changed. I realized that in the RT archetype, the W/m2 values were almost 4 times lower to my knowledge, s

[2021-07-27 13:15] #25 closed

[2021-07-28 12:48] nheeren commented on #25
Thank you!

[2021-10-17 15:03] nheeren opened #30 "Pre-compute MMV archetypes"
@kamilitsa Again thank you for contributing the MMV functionality!

While I am still trying to understand all of it, I noticed that the computation of the MMV variant is computationally quite expensive. So I was wondering if this step could not happen beforehand. I created a new file `pre.py` for doing these types of pre-computations.

However, I am not sure if this will work on the template idf f

[2021-10-18 16:05] nheeren opened #31 "Use proxy table for archetypes"
Instead of copying archetypes over and over, I want to restructure the approach. The settings file (or some other file) will specify what archetypes will be used for what region.

[2021-10-19 04:41] nheeren commented on #16
Thanks!

[2021-10-19 04:41] #16 closed

[2021-10-20 05:32] nheeren opened #32 "Compatibility with Windows and macOS"
It seems like some changes that @kamilitsa or Andrea did earlier made BuildME incompatible with macOS. @aishuiyer1 did you also have issues running BuildME on your Mac?

The issue is that functions need to be called differently on nix systems.

I am trying to figure something out that is platform-agnostic. I will be pushing an updated version soon and update here. It would be great if @kamilitsa o

[2021-10-20 05:38] nheeren opened #33 "macOS quarantine causing issues"
The new security functions in macOS make it much harder to launch energyplus. Currently I am trying to figure out a _reliable_ way to fix this. I also asked for expert help: https://stackoverflow.com/questions/69626075/how-to-whitelist-copies-of-a-binary-from-quarantine-in-macos

I will push some additional documentation and a new function `simulate.fix_macos_quarantine()` to help fix this.

This

[2021-10-21 15:34] #31 closed

[2021-10-22 06:14] nheeren opened #34 "Brazil office archetypes 🇧🇷"
Thank you for offering to add your Brazil office archetypes @kamilitsa!

Can you give me a timeline until when you could do that? Alternatively, you could also send them to me and I will take care of embedding them.

[2021-10-22 09:29] #15 closed, assigned to nobody

[2021-10-25 07:11] nheeren opened #35 "Floor surfaces omitted"
Due to the changes in #16, the contact surface of floors was renamed from `Ground` to `GroundSlabPreprocessorAverage`. The latter is not considered in `idf.get_surfaces()`.

[2021-10-26 06:42] #35 closed, assigned to nheeren

[2021-11-03 06:46] nheeren opened #37 "AirFlow Network in archetypes"
Dear @kamilitsa. Please help me refresh my memory. Did you implement Airflow Networks (AFN) in BuildME archetypes? Is that correct? Can you briefly explain how? Did you apply that to all archetypes?

`replace.xlsx` contains elements that seem to be abandoned, such as `AirflowNetwork:MultiZone:Component:DetailedOpening` and `AirflowNetwork:MultiZone:Surface:Crack` for the SFH archetype.

So the onl

[2021-11-03 13:38] kamilitsa commented on #37
Hi Niko! No, I did not implement AFN in all BuildME archetypes, only in the ones that have the MMV implemented. AFN seems to be an overkill for a "conventional" AC-only archetype, because it significantly increases the computational time.

That being said, `AirflowNetwork:MultiZone:Component:DetailedOpening` and `AirflowNetwork:MultiZone:Surface:Crack` are used when mixed-mode cooling option is se

[2021-11-03 18:45] nheeren commented on #37
I see – thanks. A bit unrelated, but do you think your MMV scripts will also work for new archetypes, such as generic offices, etc?

[2021-11-03 18:53] kamilitsa commented on #37
They should work, yes! I tried to make it as versatile as possible. The only requirement is that:

This is taken from the documentation that I wrote. It took me some seconds to find it, which means that it should be improved. The info about this HVAC system requirement can only be found in the summary at the end, where the necessary assumptions are listed. This should be clear at the very beginnin

[2021-11-03 18:54] kamilitsa commented on #37
I also mention in the documenation that if the HVAC system is implemented using different objects, the procedure can still be done, but one step must be done manually. I guess it should also be better described how to do it, it's not so clear from the description right now.

[2021-11-04 16:44] nheeren commented on #37
Is there a check implemented? I.e. will it fail with a clear enough error message for me to understand why it failed? 😄

[2021-11-05 07:47] kamilitsa commented on #37
There is! Line 71 of [this file](https://github.com/nheeren/BuildME/blob/master/BuildME/mmv.py) 😉 There I check if the list of HVAC zones is empty, and if it is, then the execution stops and a message is printed: `"There are no 'IdealLoadsAirSystem' objects. The code can only be executed if the HVAC system is "
             "implemented through 'IdealLoads'."`

[2021-11-07 12:24] #37 closed

[2021-11-09 06:35] nheeren opened #38 "Do not overwrite replace.xlsx"
As discussed with @kamilitsa, I would prefer if the MMV script would not write directly into the `./data/replace.xlsx`. I suggest to do the following instead:

1. See if MMV template archetype is present in `./data/archetype` (see #30)
2. Run `change_archetype_to_MMV()` on missing templates
3. Write required inputs to `./data/replace_mmv.xlsx`, which has a first sheet `info` specifying the date of

[2021-11-09 08:03] kamilitsa commented on #38
I can do it. The approach makes sense I think :)

[2021-11-09 23:32] kamilitsa commented on #34
If the archetypes are to be fully compatible with the BuildME framework, they should include Resource Efficiency Scenarios.

How did you define these? I cannot find info on this in the documentation. By looking at the SFH files, it seems like only the ground slab changes its thickness.

[2021-11-10 08:56] kamilitsa opened #39 "Level of infiltration and ventilation"
As we discussed last week, @nheeren, some of the archetypes might have too low value of air changes per hour.

For example, the image below shows the value of infiltration for the SFH archetype: (A) without MMV and (B) with MMV. I tried to make the second one as close to the first one as possible.
![image](https://user-images.githubusercontent.com/34264791/141080681-baf5ac6c-dbcb-4a81-942b-78ce7d8

[2021-11-11 00:20] kamilitsa commented on #30
Done! See this commit: 3d4295b4fcac4fd7269b88dfb013ccb67e378513

PS I have noticed only now that you have created "Babysteps towards pre-computation of MMC", so I sadly didn't use it at all...

[2021-11-11 08:59] kamilitsa opened #40 "Move away from excel"
Excel files are an integral part of the BuildME framework. However, version control of such files is not optimal, as the whole file needs to be replaced instead of just a single line or so. @nheeren suggested moving away from excel files and substituting them with more version-control-friendly formats such as yaml, json etc.

[2021-11-11 19:17] nheeren commented on #40
Thanks for creating this issue and your continued support!!

Another thing to consider may be accessibility. We want to keep the entry barrier as low as possible for students, etc. SInce CSV opens readily in most spreadsheet software, it may be another candidate.

[2021-11-11 19:21] nheeren commented on #30
Great! Looking forward to check it out soon. I wonder if we should add `*_mmv.idf` to the [.gitignore file](https://github.com/nheeren/BuildME/blob/master/.gitignore), because they are a function of the original .idf. Any thoughts?

[2021-11-11 21:49] kamilitsa commented on #30
I didn't know about the gitignore option, but it would make sense to use it in this case, yes :)

[2021-11-12 14:01] kamilakrych opened #41 "Allow using simulate.calculate_materials outside BuildME framework"
This is an improvement I think would be nice to implement, but you don't need to agree 😉

Right now, the BuildME code works for **archetypes that are adjusted to its structure**, that is, the energy standard and resource efficiency options are implemented. But the nicest functionality of BuildME is the fact that it allows for calculating materials, which you might want to use for all types of idf

[2021-11-14 15:14] nheeren commented on #41
That is a very nice idea!

However, it should be clearly communicated to the user that an energy model does not necessarily contain all components (interior walls and floors are often omitted) and they could use the surrogate component tools.

Is this something you would like to develop or something we should add to the list of good ideas for later development?

[2021-11-14 15:42] nheeren commented on #30
You want to add it?
Will you make a pull request?

[2021-11-15 10:04] kamilitsa commented on #30
I just did! Sorry for the small mess there, I'm still learning how to use git. I made the MMV changes on top of Brazilian office building archetypes, so I reverted some changes not to mix up the pull requests.

[2021-11-15 10:09] kamilitsa commented on #41
I honestly think it's important if we want to publish BuildME. Not everyone might want to use the whole framework with energy standards and RES. On Friday I had a chat with Sahin and Aishwarya and both would be interested in this simplified version.

I could work on this, but I think it's also a decision up to you and Edgar, because there might be some more important things for me to do first. And

[2021-11-16 06:00] nheeren commented on #41
I agree, but I also do not see this as a priority. So I would suggest to keep this idea until we know what the BuildME paper will look like.

[2021-11-16 10:39] #30 closed

[2021-11-23 06:59] nheeren opened #44 "Slab preprocessor failing?"
This is a follow-up of issue #21.  For the SFH archetpye (and possibly others) the slab preprocessor is failing apparently:

 Completed Reading Weather File
 Auto Size Grid Selected
  Slab thickness reset to 0.122 m  for computational stability.
 Entering Main Computational Block
 Working on year            1
 Working on year            2
 Working on year            3
 Working on year            4

[2021-11-28 17:50] nheeren commented on #44
Running 9.6.0 proved non-trivial  😞
https://github.com/NREL/EnergyPlus/issues/9197

[2021-12-09 17:54] #38 closed

[2021-12-12 15:59] nheeren opened #45 "replace_mmv.xlsx does not exist"
https://github.com/nheeren/BuildME/blob/5fb5bf0b18f777c3dc73b54c33cb7866e4114576/BuildME/simulate.py#L159

@kamilitsa Thanks for the latest commit. Why does it say "revert" btw?

The script now expects the file `./data/replace_mmv.xlsx` to be present and therefore crashes on my computer. Either we provide an initial file or we also have a routine that makes sure the file is created on first run.

[2021-12-12 17:15] nheeren opened #46 "URGENT: Issues with commit 5fb5bf0"
@kamilitsa It looks like more stuff broke in your commit 5fb5bf0.
Can you please confirm if BuildME runs on your computer without issues?

It seems the `fnames` variables is malformed now. Although there are a bunch of things going wrong already earlier, it fails for me when `add_surrogate_beams()` is called in https://github.com/nheeren/BuildME/blob/5fb5bf0b18f777c3dc73b54c33cb7866e4114576/BuildM

[2021-12-13 09:13] kamilitsa commented on #46
Uhhh... My bad, I changed sth without checking if it's used by functions in other .py files. I will fix it today.

[2021-12-13 10:17] kamilitsa commented on #45
Should be fixed now. I checked and all runs as it should. Even if there is no MMV variant on the first run, an empty replace_mmv.xlsx is created anyway.

[2021-12-13 10:27] kamilitsa commented on #46
Yeah, actually it seems like I haven't checked at all if `fnames[folder]['RES']` is used anywhere else. Embarrassing... :confounded:

I had good intentions. The idea was to simplify how `fnames[fname]` are defined. It used to be like this:

[code]
And I found it very unintuitive that the variable `fnames[fname]['RES']` contained information not only about `res` but also about `region` and `occ_typ

[2021-12-14 07:58] nheeren commented on #46
Thank you for the quick reactions! Will check asap.

[2022-01-31 21:23] nheeren opened #47 "Integrating new archetypes"
As discussed I uploaded a bunch of candidate archetypes to https://github.com/nheeren/BuildME/tree/master/data/archetype/new_archetypes. I would appreciate if you could grab 1-2 of them and help making them work with BuildME, @shnkn @kamilitsa.

- [ ] OfficeL: _Niko_
- [x] OfficeM.idf: _Niko_
- [x] SchoolPrimary.idf _Sahin_
- [x] SchoolSecondary.idf _Sahin_
- [x] HotelL.idf _Niko_
- [x] RetailStan

[2022-02-07 07:25] kamilitsa commented on #47
I can take the last two :)

[2022-02-10 11:55] kamilitsa commented on #47
I'm wondering, how do we deal with the Construction:CFactor and Construction:FFactor objects?

I see that most (all?) of the new archetypes include these objects. These are constructions object but they don't include specific layers with given thickness values. Definitely there is some material included in these, but the current BuildME algorithm just ignores these objects. Should we create some s

[2022-02-10 15:31] nheeren opened #48 "Remove climate files"

[2022-02-11 00:13] CBreton026 commented on #47
Hi everyone,
I have been following your conversation as I am currently learning more about the ODYM-RECC model. I have no experience with EnergyPlus and the BuildME model yet, so I'll try to weigh in, but I hope this suggestion isn't trivial!

From this [Engineering reference](https://bigladdersoftware.com/epx/docs/9-0/engineering-reference/ground-heat-transfer-calculations-using-c.html#ground-hea

[2022-02-11 12:34] CBreton026 commented on #47
Great! Glad this could help :)

[2022-02-13 11:33] nheeren commented on #47
@CBreton026 Thanks for weighing in! Maybe I did not fully grasp your suggestion, but the issue is that we want to be able to extract materials from the energyplus components. So I would much more prefer to be able to define clear components and explicitly calculate them, rather than reverse-engineering them ;)

[2022-02-14 06:16] kamilitsa commented on #47
As far as I understand, there is no way to directly extract components in case of the CFactor and FFactor constructions. But it's possible to make a surrogate element, and the tip from Charles can help us in doing that :)

[2022-02-14 12:45] shnkn commented on #47
Hello @kamilitsa  and @nheeren ,
Sorry for my late reply. I can take SchoolPrimary.idf and SchoolSecondary.idf.

For the FCconstructions, I believe the same approach that I suggested for the basement constructions can be applied here as well. I am not sure how to calculate the tailored ground temperatures for it but I am repeating my previous email as this approach can be implemented:

_**If we ex

[2022-02-14 14:29] CBreton026 commented on #47
@nheeren Of course, that would be best! Indeed, my suggestion would only provide proxies, and not the actual building materials. As I understand it, it doesn't seem like CFactor and Ffactor can provide this information though. Although I don't know much about EnergyPlus models, @shnkn's suggestion sounds like a better way to go!

[2022-02-15 07:14] nheeren commented on #48
- Removed climate files with `git rm -r --cached data/climate/meteonorm*/**/*.epw`.
- Added `data/climate/meteonorm*/**/*.epw` to `.gitignore`.
- Still need to remove files from history.

@anistad: Thanks for the hint! @shnkn & @kamilitsa: Please backup climate files before your next `git pull`.

[2022-02-18 16:26] shnkn commented on #47
Hello @nheeren,

We checked all the new archetype files, unfortunately, they do not seem they were using Ideal Loads. A conversion process is therefore needed in order to be used with Mixed Mode Ventilation @kamilitsa implemented. So shall we start the conversion process or is there a possibility to change them with other alternatives available somewhere else?

[2022-02-19 07:20] nheeren commented on #47
Thanks Sahin for looking into those archetypes. I am not familiar with any alternatives I am afraid... While converting the archetypes, would you mind documenting the procedure in https://github.com/nheeren/BuildME/tree/master/docs/archetypes? That is something we wanted to do for the paper anyway.

[2022-02-24 16:34] shnkn commented on #47
Hello Niko,
I uploaded several documents to the master branch.

New archetypes Ideal Loads: https://github.com/nheeren/BuildME/tree/master/data/archetype/new_archetypes/IdealLoads
Documentation for Ideal Loads: https://github.com/nheeren/BuildME/blob/master/docs/archetypes/Ideal%20Loads%20Documentation.md
Functions for Ideal Loads Conversion: https://github.com/nheeren/BuildME/blob/master/data/arc

[2022-02-25 18:40] CBreton026 opened #49 "Fatal Errors using EnergyPlus v9.2.0"
As part of my PhD project, I'm looking to develop Canadian archetypes for BuildME.

I recently installed BuildME following the setup.md file and EnergyPlus-9-2-0 (on Windows). I tried running EnergyPlus on the SFH and MFH archetypes, but:
- For SFH, I get a Fatal Error and a Slab Error (Warning). This may be linked to #44?
- For MFH, I get a Fatal Error from invalid construction names

Am I doing

[2022-02-25 18:52] #14 closed

[2022-02-25 19:04] kamilakrych opened #50 "Energy standard inconsistencies"
In the [documentation](https://github.com/nheeren/BuildME/blob/master/docs/algorithm.md), it says that we use _IECC 2006_ for "standard" energy standard and _IECC 2012_ is used for "efficient" energy standard. However, Sahin and I found out that this is not the case.
Below, you can see the U-values of external wall insulation (in blue). We see that BuildME values are not the same than the ones we

[2022-02-25 20:11] CBreton026 commented on #48
Hi @nheeren ,

I am currently trying to use BuildME, however I run into an (expected):
`FileNotFoundError: [Errno 2] No such file or directory: 'C:\\BuildME-master\\data\\climate\\meteonorm71\\2015\\Miami_FL-hour.epw'`

I realize I could get the climate files from previous commits, but I know you are planning on removing them from git history. Is there a way I could get access to the files (while

[2022-02-27 15:10] nheeren commented on #48
Dear Charles. We are not sure about the legal implications of sharing the climate files and decided to play it safe, i.e. remove them. Please write me an email with a list of the climate files you require. Also there are a number of websites that provide free e+ climate files.

[2022-02-28 11:17] nheeren opened #51 "Ideal loads converter ❤️"
Hello Niko,
I uploaded several documents to the master branch.

- _New archetypes Ideal Loads: https://github.com/nheeren/BuildME/tree/master/data/archetype/new_archetypes/IdealLoads_
- _Documentation for Ideal Loads: https://github.com/nheeren/BuildME/blob/master/docs/archetypes/Ideal%20Loads%20Documentation.md_
- _Functions for Ideal Loads Conversion: https://github.com/nheeren/BuildME/blob/mast

[2022-02-28 11:26] nheeren commented on #47
This is amazing @shnkn! I suggest to move the discussion on the new new tool to #51.

[2022-02-28 13:45] nheeren commented on #49
Dear Charles. I quickly checked SFH and had no issues on my computer.

IDF files would need to be upgraded to 9.6. Energyplus comes with a tool for that. Something I did before, but then did not push, because #44 😞

- [ ] I will look into MFH next.

[2022-02-28 14:12] shnkn opened #52 "IDF converter for BuildME"
Hello @nheeren,

After our discussion with @kamilitsa, I attempted to write some functions to automate the IDF conversion process for BuildME.
At first, we were not really sure whether it is viable to write a code to convert objects as the naming and structure can be very different between IDF files. However, surprisingly there are some patterns that can be controlled with functions.

In total, th

[2022-03-01 09:50] shnkn commented on #52
The script is applied to the archetypes and uploaded here: https://github.com/nheeren/BuildME/tree/master/data/archetype/new_archetypes/ConvertedBuildMEFiles
I will update this folder after I run the script for "OfficeLarge.idf".

Where can I find the energy standards for the material-specific archetypes (i.e., SFH-masonry?)

[2022-03-02 20:51] CBreton026 commented on #48
Dear Niko, thank you. I will first try to replace the references to the copyrighted climate files in the code, and run them with publicly available climate files. If that doesn't work, I'll contact you via email!

[2022-03-02 21:01] CBreton026 commented on #49
Dear Niko, thank you for your reply. In this case I'll keep working with E+ v9.2 for now! I'll let you know if I find out what was causing the issue.

[2022-03-10 19:06] CBreton026 opened #53 "replace.xlsx and KeyError: (['USA'], ['SFH'], ['RES2.1'])"
Hi everyone,
I've been trying to launch BuildME for Canadian archetypes (based on US proxies):
[code]
As discussed in #48, I replaced all climate files using publicly available ones from the US DOE. The calculations start to run, but then:

1. simulate.py lines 129 and 130 throw the following warning : FutureWarning: The behavior of indexing on a MultiIndex with a nested sequence of labels is depr

[2022-03-10 19:41] nheeren commented on #53
Hi @CBreton026. Thanks for your active interaction with BuildME. I will check if I can reproduce these errors the next days. In short the explanation is probably that we are currently developing a number of things and pushed a few things directly on `master`. Probably that way we also broke some parts, such as replace.xlsx.

[2022-03-10 20:26] CBreton026 commented on #53
Hi @nheeren, thank you for your quick reply! That could be the case; here is the replace.xlsx file that I modified. Before adding the red text on the 'RES' tab, I would encounter the KeyError.
[replace.xlsx](https://github.com/nheeren/BuildME/files/8226951/replace.xlsx)

[2022-03-14 12:58] shnkn commented on #52
Hello @nheeren,

I was planning to improve the IDF converter's capabilities by also automating the update of "replace.xlsx", "material.xlsx" files and "odym_materials = {}" list located at the "setting.py".  That odym_materials list should be updated to contain all the newly added materials, no mass materials, and this list should be saved in the source code.

There will be no problems with updati

[2022-03-14 13:11] kamilitsa commented on #52
I support the idea to move "odym_materials" to somewhere else. However, also in line with another issue (#40 move away from excel), I would suggest to use sth else, not excel. How about a json file or another text-based format?

[2022-03-14 13:16] shnkn commented on #52
Thanks, @kamilitsa! Niko suggested using CSV files. What do you think about it?

[2022-03-14 14:38] kamilitsa commented on #52
Yeah sure :) I just didn't know that csv files are different from xlsx files in this regard. But it seems they are, so go for it!

[2022-03-14 14:41] CBreton026 commented on #52
I was just going to say that Niko mentioned lowering the barrier to entry for BuildMe in #40. CSV files are easy to modify / read / visualize using tools most people are comfortable with. Since the data to be stored isn't too complex, I also agree CSVs sound good!

[2022-03-14 19:37] nheeren commented on #52
Thank you all for committing brainpower at this 😊

Actually I suspect that I was thinking of [YAML](https://circleci.com/blog/what-is-yaml-a-beginner-s-guide/) when I wrote JSON (sorry). I am fine with either YAML or CSV. I would argue that the former is supposed to be a bit more human readable and the latter more for interoperability and larger amounts of data. Therefore my preference would be wi

[2022-03-16 19:06] kamilitsa commented on #53
Hi! I just tested it, indeed we get an error for anything other than RES0, no matter the region (USA gives the same error). The reason is that the sheet 'RES' in `replace.xlsx` doesn't contain anything other than RES0.

![image](https://user-images.githubusercontent.com/34264791/158667568-fbf58e88-1d5e-4434-bb31-b12b5341e0ea.png)

This is a bug that must have come from loooong ago. I have always u

[2022-03-16 19:28] nheeren commented on #53
Sorry, I haven't caught up yet. Just a quick explanation: We added the occupation parameter variable, because it was an important discussion in the selection of the SSP scenarios. We wanted to be able to change that across scenarios, but never did in the end, I believe. The obvious solution is to copy the for all RES scenarios.

As you say @kamilitsa, somebody apparently pushed an incomplete `repl

[2022-03-17 09:24] nheeren commented on #52
Just to make sure: This kind of development should happen on a separate branch and not on master, because it may impact other ongoing developments.

[2022-03-17 15:56] kamilitsa opened #54 "Bug in validate_ep_version()"
The function `validate_ep_version()` in `pre.py` checks for the version of EP installed locally. The problem is, it looks for the name in the folder name, which is obviously customizable, and does not necessarily contain the version of EP. I think it also depends on the installation procedure, sometimes it might be included by default and other times not. It happens in this line:
`bin_ver = settin

[2022-03-18 15:21] CBreton026 opened #55 "Writing acces to the Wiki"
Hi @nheeren,

I started working on a Wiki to document how to get started with BuildME, how it works, etc. as I learn it myself. I did it on my fork, but apparently wikis are excluded from pull requests - there may be a way to do it through the command line, but I haven't figured it out yet.

Do you think you could give me writing access to the BuildME wiki so I can directly modify it? Or perhaps d

[2022-03-20 18:12] nheeren commented on #55
That sounds fantastic – thank you! I enabled Wiki editing, but honestly I would prefer to continue using markdown files in the docs/ folder. I see in many projects that information gets scattered in different places and we already have quite some documentation already.

[2022-03-22 00:03] CBreton026 commented on #55
Perfect, that makes sense. I'll convert the wiki pages I already made to markdown files, and send a pull request to add them to the docs!

[2022-03-22 00:03] #55 closed

[2022-03-22 02:35] CBreton026 commented on #54
Please have a look at the pull request, I tried to implement the fix you described! It seems to work for me, although I only ran validate_ep_version by itself, and not through main.py.

[2022-03-22 14:38] CBreton026 commented on #40
Hi everyone! I started working on a run_config.yml file to make it easier to set the BuildME run parameters each time, without directly modifying the settings.py file. For now, here are my thoughts:

- The paths and 'permanent' choices (archetype proxies, climate stations) should stay in settings.py or a similar file;
- The selection of run-specific parameters such as included regions should be ma

[2022-03-22 14:43] CBreton026 commented on #47
Are there still new archetypes that need to be converted, from the above list? I am still unsure of the exact process/work to do to convert an archetype so that it meets BuildME requirements, but I could give it a try. Is there a doc discussing this somewhere?

[2022-03-23 20:13] nheeren commented on #47
Thanks Charles. We are currently converting the ones in the above list. Once we figured out the process, I have a few additional candidates to include. Sahin's archetypes in data/new_archetypes/IdealLoads appear to mostly work. I believe the final remaining issue is to figure out the Ffactor basement issue. If you want to try something here that would certainly be appreciated.

[2022-03-23 20:19] nheeren commented on #40
Thanks yet again. This looks great, but I don't fully grasp your idea yet. What would go into settings.py and what would go into the yaml file? I think it is better to keep things that belong together in one central place even if the file becomes a bit crowded.
In my experience in working with BuildME one will often make quick changes and try specific combinations for debugging and experimenting.

[2022-03-23 20:26] nheeren commented on #54
So cool. This week I am completely swamped. Will check asap / early next week.

[2022-03-23 20:30] CBreton026 commented on #54
I realized afterwards that I left a print statement in line ~27 that should become an "assert" - I'll update it in a later commit!

[2022-03-24 13:32] CBreton026 commented on #40
I guess I was looking for an easier way to change the settings without directly modifying the code.

Let's say I want to run a subset of  about 50% of "combinations" -- then, I would have to either copy/paste and modify them in debug_combinations, or I could delete or comment out parts of "combinations". However, this modifies my local "settings.py" -- I can always save a backup or reinstall the G

[2022-03-29 08:32] nheeren opened #57 "Merge idf.get_surfaces() and idf.get_surfaces_with_zone_multiplier()"
Having redundant functions doing the same thing creates extra work (e.g. all changes in one function must be carried over to the other) and error prone (e.g. when one forgets to carry changes over to the other function).

Probably the two functions do already differ due to ongoing development on the former.

Technically both functions do the same, but the zone multiplier is applied. Probably get_s

[2022-03-29 13:41] CBreton026 commented on #57
I have some time tomorrow, I'll have a look at it and see if I can merge the functions!

[2022-04-03 09:17] nheeren opened #58 "Fix odym_regions in settings.py"
_Originally posted by @stefanpauliuk in https://github.com/YaleCIE/RECC-ODYM/issues/36#issuecomment-1086119760_

Need to change labels Oth_R32EU15 and Oth_R32EU12-H in settings.py in
https://github.com/nheeren/BuildME/blob/d32c1aaa607dc8da7e2b37ae6a20d635ca90ad95/BuildME/settings.py#L461-L480

[2022-04-03 09:30] nheeren commented on #57
Smart – thank you!

[2022-04-04 13:54] CBreton026 commented on #58
I added these changes to my pull request; I corrected both names in settings.py, and I also moved all the paths definition at the top of the file so that they're all in the same place!

[2022-04-04 13:58] CBreton026 opened #59 "Making BuildME pip installable?"
While working on #57, I made my version of BuildME pip installable so it's easier to call its function.

Would that be an interesting feature for you? It's only a minor change, I moved some information from __init__.py to a setup.py file. I can setup a pull request for a new 'develop' branch if you'd like!

[2022-04-05 00:47] CBreton026 commented on #57
I created a new branch (issue_57) to work on this.

I'm making progress on merging the functions. At the same time, I'm trying to refactor the functions into smaller ones. Idf.get_surfaces_with_zone_multiplier() is a bit long, and does several different things.

I ended up deleting idf.extract_surfaces_zone_multipliers(), as I couldn't find anywhere it was used. BuildME ran fine after deleting it,

[2022-04-07 14:02] stefanpauliuk commented on #58
I checked again and it's only these two region labels: Oth_R32EU15 and Oth_R32EU12-H
All other labels are OK!

[2022-04-07 16:45] kamilakrych opened #60 "Finish BuildME tutorial in jupyter notebook"
As requested by Niko, I have created a simple tutorial walking (available in my branch [here](https://github.com/nheeren/BuildME/blob/Kamila_changes/docs/tutorial_buildme.ipynb)) through the main steps of BuildME. Could you please have a look at it and give some feedback? E.g. does the code work for you, are the explanations clear? There is one part missing at the very end, it's either to be delet

[2022-04-07 17:14] CBreton026 commented on #60
Hi @kamilitsa!

I haven't tried to run the tutorial yet, however it seems very interesting; I especially liked the part on `apply_obj_name_change()`. As far as I know, the use of the 'replaceme' strings wasn't explained anywhere (yet).

I'll try to run it when I have some time!

[2022-04-08 02:41] CBreton026 commented on #47
Looks awesome, great work! :)

I was just thinking, maybe at L.489 (in idf.py) the comment `# we don't have ASHRAE values for these cases, skip insulation` could become a logging.warning()? This seems to be the kind of information that should be made clear when it happens.

I was just thinking of adding a logger to BuildME to help better document each run, similar to what is done in ODYM-RECC main

[2022-04-08 07:55] kamilitsa commented on #60
Thanks for the quick reply :) Just one more thing, I have slightly improved the calculate_materials() function. The tutorial won't work unless you update it as well - see [this commit](https://github.com/nheeren/BuildME/commit/77a350b61ca68d14dfa54a65668d563569cda2aa)

[2022-04-08 07:57] kamilitsa commented on #47
Good point, Charles, thanks for the input. Indeed, I wasn't really sure how to handle that. A warning seems like a good solution :) Will add a fix in a new commit

[2022-04-08 08:49] kamilitsa commented on #47
Okay, there is a new commit in my branch to fix that + a few other issues that I discovered in the F-factor calculations. All should work now!

[2022-04-08 20:26] CBreton026 commented on #57
I'm done! I tested the new get_surfaces() function, and it reproduces the exact same results as the previous two functions for both SFH and RT archetypes. I'll send a commit and pull request !

[2022-04-10 19:59] nheeren opened #61 "Do we need loging?"
_Originally posted by @CBreton026 in https://github.com/nheeren/BuildME/issues/47#issuecomment-1092387108_

It was me that introduced logging to ODYM and I often use it in larger models. But so far I didn't see the necessity. But your comment makes me wonder... BuildME already writes the output of e+ to log files. So maybe we do the same for other output like this.

[2022-04-10 20:05] nheeren commented on #60
Thank you so much @kamilitsa. A lot of students will love you for this ;) @CBreton026, you were mentioning at some point that you were making some notes on using BuiildME, so maybe we should discuss if your notes should integrate with tutorial notebooks.

[2022-04-10 23:44] CBreton026 commented on #61
@nheeren I didn't know you were the one that added logging to ODYM!

I think it could be useful, especially to leave a trace of assumptions/defaults that may be in the source code, as these can be hard to track.

It could also make each BuildME run easier to understand / review / replicate. I think BuildME should eventually do the same thing that ODYM does to facilitate replication studies (e.g. c

[2022-04-10 23:45] CBreton026 commented on #60
Good idea! I'll keep it in mind.

[2022-04-11 23:01] CBreton026 commented on #60
Hi @kamilitsa, I just thought of a potential issue - what climate files / paths are used for the tutorial? Since the Meteonorm files were removed from the repo, anyone new to BuildME may have trouble running the tutorial "out of the box". It's a problem I also encountered when starting, as well as when running tests.

My suggestion would be that we add the [EnergyPlus TMY3 climate files](https://w

[2022-04-12 12:31] shnkn commented on #47
**New Archetypes are implemented to BuildME**
All of the archetypes are converted by using Ideal Loads converter, IDF converter, and by Kamila's FC construction method. I pushed the updates to Kamila's branch.
There are still some missing features but these are not mandatory to address:
-Airtightness Values across different standards (can be edited in replace.xlsx)
-Other RES scenarios than RES0
-

[2022-04-17 10:39] nheeren commented on #58
Fixed by 9de8b45. Thanks again @CBreton026

[2022-04-17 10:39] #58 closed

[2022-04-17 10:43] nheeren commented on #54
Fixed by 8904337. Thanks Charles!

I simply let the `FileNotFoundError` bubble up now in cf2f3d2. Let me know if you feel this should be handled differently.

[2022-04-17 10:43] #54 closed

[2022-04-17 10:48] nheeren commented on #61
Yes. I agree. The replication aspect would be a real value added. That means we would write all settings that were used, such as
- settings.py
- archetype files incl. their checksum
- climate files incl. their checksum

into a log file. For me personally low priority, but please go ahead to make a first draft if anyone feels like it.

[2022-04-17 10:54] nheeren commented on #59
Interesting! However, I have zero experience with that, unfortunately.
- Would it be possible to automate the process entirely? There are quite a bunch of steps that need to be done manually. https://github.com/nheeren/BuildME/blob/master/docs/setup.md
- Would this work with Anaconda too?

If you feel like making a PR, I would be happy to consider it. Or we have a quick chat before.

[2022-04-17 11:19] nheeren commented on #57
Thanks for looking into this and for the critical reflection! As @anistad is the main author of the RT archetype and these functions, it would be great you could chime in here briefly. If Andrea does not find the time, please feel free to make some executive decisions 😉

Not sure to be honest.

In general I think BuildME should be as generic as possible. Please feel free to propose something.

Not

[2022-04-17 11:21] #46 closed

[2022-04-17 11:33] nheeren opened #63 "Pandas FutureWarning: Indexing on a MultiIndex with a nested sequence"
Using Pandas 1.4.1 I get the following warning:

  xls_values2 = mmv_en_replace.loc(axis=0)[[res[1]], [res[2]]]

[2022-04-17 12:00] anistad commented on #57
Hey!

I can have a look into this and check what's been going on. Buut I wont
have time before next week..

Cheers,
Andrea

søn. 17. apr. 2022, 13.20 skrev Niko Heeren ***@***.***>:

[2022-04-17 13:09] #63 closed

[2022-04-17 13:10] nheeren commented on #49
Dear Charles. Is this still up to date. MFHs seem to run fine on my end.

[2022-04-17 17:31] nheeren commented on #47
Thank you both for all the work you put in and this great progress.

@kamilitsa solution is awesome, however the CFactor thing comes back to bite us, I am afraid 🐍 :

[code]

That is because `Basement_Wall_North_Cfactor-standard-RES0` is a CFactor element. Can you look into this in your branch?

[2022-04-17 19:20] CBreton026 commented on #49
Oops! I should have closed this issue a while ago - sorry! I'll close it now.

[2022-04-17 19:20] #49 closed

[2022-04-19 09:05] shnkn commented on #47
All of the archetypes in my version of Kamila's branch are working fine @nheeren, I used to get the same error message but if you could look into my last commit, there shouldn't be any problem.

1 parent [4205224](https://github.com/nheeren/BuildME/commit/42052245dc7803d159074ee0a2f58f2463e5abc4) commit 02accd97e98a09f89ebe56015ca44d254dc93b61

[2022-04-19 11:48] shnkn commented on #51
I am working on minimizing the manual intervention requirements... and widening the spectrum range of its applicability to any other IDFs. I will update soon the source code and its documentation, but there will be no effect on already converted IDFs.

[2022-04-19 19:43] CBreton026 commented on #59
I sent a first PR (#64) to make BuildME pip installable. For now, this must be done after BuildME is installed/cloned; I am unsure if the whole installation process can be automated.

I am currently working in a conda virtual environment, and I had no problem installing it through pip (just like eppy).

[2022-04-20 05:40] nheeren commented on #47
Oh – possibly I was on the wrong branch. Thank you. Will check again.

[2022-04-20 09:08] shnkn commented on #52
Okay, finally I finished the app/script and its documentation. I committed the new tools to the Kamila_changes branch.

1 parent [8af2f16](https://github.com/nheeren/BuildME/commit/8af2f165c028d7052f1a0c749a83ba5b209b0382) commit 0982046189e72388eef38f41d6114fc592861c22

[2022-05-12 09:57] nheeren opened #66 "Move settings.odym_materials to data/materials.xlsx"
Related to #52. @shnkn and I discussed today that the most reasonable place for settings.odym_materials would in data/materials.xlsx in a new column mat_category.

Does this conflict with our ambitions to move to YAML?

Any takers? ;)

[2022-05-15 13:55] nheeren commented on #66
So this idea is not as simple / smart as I first thought. settings.odym_materials contains also materials that are not contained in data/materials.xlsx.

[2022-06-16 13:34] nheeren commented on #60
The notebook is great ! Thank you!

Here are a few improvements I would suggest:

- [ ] Move notebook to ./docs/notebook and fix paths
- [ ] Mention in the beginning that this is basically walking the user through main.py
- [ ] Section`Selection of archetypes`: Explain the files that need to be present (1A.epw, SFH.idf, etc.) and that they come with BuildME or need to be downloaded in case of the

[2022-06-16 14:02] shnkn commented on #66
yes, but did not we say that for this reason, we would have an additional sheet for all settings.odym_materials in the same data/materials.xlsx file? So I do not think there would be a problem.

But I do not know the case with YAML. We might need two different YAML files maybe instead of one single excel file.

[2022-06-28 16:39] nheeren opened #68 "Ffactor and Cfactor constructions cannot be subject to RES strategy"
_Originally posted by @kamilitsa in https://github.com/nheeren/BuildME/issues/47#issuecomment-1092120438_

Thank you again for coming up with this (i.e. `add_underground_wall_cfactor()` and `add_ground_floor_ffactor()`)!
However, I now realize this actually causes quite an issue that we hadn't considered.

The thicknesses for concrete are hard-coded, e.g.
https://github.com/nheeren/BuildME/blob/39

[2022-07-11 14:22] shnkn opened #69 "DHW results are included in total energy intensity values"
Hello Niko,

 I think there is something wrong with the energy intensity excel file produced after the simulations. The value generated in the "total" sheet seems like summing up MJ with m3. So externally defined DHW is added on top of the total energy consumption. Instead, this one should only take into consideration of MJs, right? I excluded this in my latest branch.

[2022-07-20 14:30] shnkn commented on #69
Sorry for my late reply,
I was trying to calculate the DHW load dynamically from the IDFs if a DHW system is already modeled, otherwise, the code uses the as-is version with running the add_DHW() function. So, in order to do that, I inserted a new output variable ('WaterSystems: Water [m3](Hourly)') while converting the IDFs. However, this variable calculates water consumption in m3 instead of the

[2022-07-21 12:03] shnkn commented on #69
Okay, I added a condition to detect if DHW is already modeled in IDF files. Instead of m3, I am collecting the energy required to heat the water now. In the final results, I am also including them in the sum as you have done it before. You can see it the latest updates in my branch.

1 parent [0348e09](https://github.com/nheeren/BuildME/commit/0348e09bdc86c51de2ee8b9f3d5b3b10ae7f9c41) commit 7ed2b

[2022-07-21 12:03] #69 closed

[2022-07-26 09:03] nheeren commented on #69
Thanks Sahin. I will look into it. We should discuss soon what is happening in your branch and how to get it back into the main branch. I fear you are creating an alternative version of BuildME on your branch and it will become hard to merge eventually.

[2022-08-01 10:29] kamilitsa commented on #60
Thank you for all the insightful suggestions! I have implemented all of them, you can have a look in my branch.

Just one follow-up comment: I have added a 'dummy' weather file, as suggested by Charles. This way the user can perform the simulations even if no weather files are created. However, to use the full functionality of the framework, the user would need to add the weather files. Maybe it s

[2022-08-01 11:31] nheeren opened #70 "MMV not working for HotelLarge"
The function mmv.get_zone_number() fails when trying to run HotelLarge.idf with MMV. The actual problem seems to be that change_idf_objects() looks for `Mech_Flr_1` in `zone_dict_hvac`.

https://github.com/nheeren/BuildME/blob/d8df6bdfb0037339d2a18647cab73cde48a0e6cf/BuildME/mmv.py#L257

I wasn't fully able to grasp the problem. I believe  `Mech_Flr_1` is in the `zone_dict_**non**_hvac` and the sc

[2022-08-01 11:48] nheeren commented on #70
It is possible I haven't pushed all necessary changes yet for running HotelLarge.idf. Please let me know if anything is missing / unclear.

[2022-08-01 12:20] kamilitsa commented on #70
The solution is very simple - it is written as a comment in the code (maybe it should be caught as an exception and displayed to the user). See line 71 of the mmv.py:
`# if no people in the zone, MMV cannot be implemented -> zone is treated as non-hvac`

The zone called Mech_Flr_1 simply doesn't have a 'People' object assigned to it. The solution is to add it 😉

[2022-08-01 13:05] kamilitsa commented on #68
Okay, I have an idea how to fix it. What would you suggest then as the RES2.1 and RES2.2 options? Let's remember that it's a foundation, so wood is not a good option. Maybe something like 15 cm concrete for RES0 and 10 cm concrete for all the other cases?

(On another note, I have impression that the options RES2.1 and RES2.1+RES2.2 are the same - based on simulation results and a brief look at th

[2022-08-01 13:09] kamilitsa commented on #45
I updated this in a new commit in my branch: 69a3e99a2f6717a904c84b47a2ba5b118764fba5. Previously, I said 'an empty replace_mmv.xlsx is created anyway' but now it seems unprofessional to me 😛

So I updated the code - now the empty file is NOT created. It was counterintuitive that the `pre.create_mmv_variants()` had to be run even when MMV variants were not chosen in the building combinations...

[2022-08-01 13:28] nheeren commented on #70
Thanks. So why isn't it treated as non-hvac as the comment says, but raises an error?

[2022-08-01 13:32] nheeren commented on #68
I would say the foundation is always concrete, regardless the RES. RES2.2 and RES2.1+RES2.2 can have 20% reduced concrete amount.

Yes, RES2.1 and RES2.1+RES2.2 are fairly similar. However, the latter should have less wood in some elements.

[2022-08-01 14:07] kamilitsa commented on #70
Oh, good question 😅 That's because later on I assume that all IdealLoads objects are hvac-zones. I'm going to add a patch now.

[2022-08-01 14:24] kamilitsa commented on #70
Should work now with the fix I added in my branch!

[2022-08-01 14:55] nheeren commented on #70
Damn – overlooked your edit

[2022-08-02 13:27] kamilitsa commented on #68
Should be fixed now!

[2022-08-02 13:27] kamilitsa commented on #70
Okay, I found the bug - there were actually a few of them. I fixed them all, so the MMV routine is okay now (I tested it a few times).

However, the replace.xlsx file needs some improvements. After I resolved the MMV issues, I was still getting weird results for this HotelLarge archetype - the cooling for the MMV decreases compared to HVAC (as expected), but the heating increases A LOT (see below,

[2022-08-02 17:30] nheeren commented on #70
Great! I will merge now.

Yeah. Ventilation still needs a good solution. I never found an easy way to represent air-tightness in another way, unfortunately.

[2022-08-02 18:27] nheeren commented on #70
Oh. I see now. Sahin's script has fixed the infiltration rates to zero.

[2022-08-02 20:04] nheeren commented on #68
Awesome! Thank you so much. That should solve it for now.

 I made a little change, because in some IDFs I did not specify the RES.

[2022-08-02 20:04] #68 closed

[2022-08-02 20:10] nheeren commented on #70
A bit unrelated, but can you confirm that MMV-files were only created if they were missing? I changed that in c9666b4, because calculation is speedy and changes in the (non-MMV) file would not carry over otherwise.

[2022-08-02 20:26] kamilitsa commented on #70
Yes, that's right! So now they are calculated at the beginning of every simulation run, so that if we have e.g. 12 combinations of the same archetype, it would only convert it once and not 12 times? If this understanding is correct, then I definitely agree :) Sounds like a good trade-off!

[2022-08-02 20:42] nheeren opened #73 "BuildME on Windows slow or crashing during multiprocessing"
So I tried to run BuildME on Windows for the first time in a while, but it seems like it doesn't work properly. During the multi-threaded energyplus simulation with 20 simulations, the computer seems to freeze or it is just extremely slow. Does it work properly for you @shnkn and @kamilitsa? Is there something you had to adjust?

[2022-08-02 21:44] nheeren commented on #70
Yes. Exactly what happens now. But now I realize `replace_mmv.xlsx` gets appended over and over again. It should also be deleted every time, right?

[2022-08-02 22:05] nheeren commented on #73
It finished after forever. I think my Mac is just incredibly fast...

[2022-08-02 22:05] #73 closed

[2022-08-02 22:14] nheeren commented on #70
@kamilitsa

So I changed the `Air_Changes_per_Hour` values in replace.xlsx and the result was absolutely identical.  Therefore I implemented the following, because I thought the old values were still in `replace-mmv.xlsx`.

@nheeren

But again I get exactly the same results, i.e. very high heat demand. Are you sure that is the reason?

[2022-08-03 13:50] kamilitsa commented on #70
Yeah, it makes sense to delete it together with the -auto-MMV.idf files.

Infiltration might partly be the reason (make sure that replace.xlsx also changes the calculation method to changes per hour). But I found another thing, it's something bigger and also hotel-specific. The original HotelLarge.idf file has a complicated chain of objects decreasing the heating demand depending on e.g. if the ro

[2022-08-03 17:09] nheeren commented on #70
- [ ] make sure that replace.xlsx also changes the calculation method to changes per hour

Will check...

🤦 Oh no. I am going crazy facing so many edge cases with the different archetypes... Thank you for investigating!

[2022-08-17 06:40] nheeren commented on #57
@CBreton026 So finally this issue has come back to bite me and is causing me a lot of headache, because many of the non-residential archetypes all use multipliers, which causes numerous issues. Would you mind making a PR or uploading the current state of your work into a branch?

Also I am sorry, I did not get back to you concerning to the pull requests. They both look fine and I will merge them.

[2022-08-17 07:25] nheeren commented on #45
Hmm. So far I am cherry-picking your code snippets. Do you think it would make sense to create a pull request for this?

[2022-08-26 16:42] kamilitsa commented on #57
I've had a look at it. Indeed, the questions that Charles posed are very relevant. Particularly, why were the slab, basement and shear walls all doubled? Not sure.

Anyway, in my branch I have just uploaded a fix to this issue. I have deleted the double counting mentioned above, so the slab, basement are added as usual (this was present in the original "get_surfaces()"), and shear walls are added

[2022-08-26 17:07] anistad commented on #57
Sorry for not following up on this earlier. According to the documentation for the RT, two levels of basement are assumed. Could this be why I doubled the basement and slab?

[2022-09-01 12:21] kamilitsa commented on #70
Some updates :) I have looked into this issue for real now. The archetype is complicated, so it was very difficult to pinpoint what was causing these issues with MMV. Finally, also thanks to discussions with @shnkn, I was able to find the problem.

The issue is fixed now, and it was done in 2 parts:
1. Fixing a small bug in the code, which was causing doors to be permanently open in the MMV archet

[2022-09-01 12:24] kamilitsa commented on #70
And just some proof that the issue is fixed :) MMV slightly increases the heating demand (this is difficult to completely avoid also in other archetypes) but the overall energy demand is decreased

<img src="https://user-images.githubusercontent.com/34264791/187912941-a3a71e34-3977-4685-aa98-6ee2450cc3da.png" width=50% height=50%>

[2022-09-01 13:27] kamilitsa commented on #57
I have added some fixes to the last fix :sweat_smile: So hopefully Kamila is no longer causing issues!

[2022-09-01 19:05] CBreton026 commented on #57
@nheeren I should have precised that the aforementioned branch (issue_57) was on my own BuildME [fork](https://github.com/CBreton026/BuildME/tree/issue_57).

Also, sorry for coming back to you so late. I just pushed the changes I had done to idf.py to the "issue_57" branch on my fork. What would be the best way to share them with you? Should I send a PR?

You should know that there were still lots

[2022-09-02 16:34] kamilitsa commented on #70
Okay, forget everything I said above. I have tested this issue on a few other archetypes, and thanks to that I was able to identify a serious bug (and eventually fix it). In some archetypes (but not in the SFH or MFH that I mostly used for testing), there were zones which could not be classified as "MMV zones", i.e. the procedure with operable windows could not be implemented. In such zones, windo

[2022-09-02 16:34] #70 closed

[2022-09-04 14:18] nheeren commented on #57
Thanks @CBreton026! I will review the changes by @kamilitsa first. If there should be open issues, I will dive deeper into your branch.

[2022-09-04 16:07] nheeren commented on #70
🙏 Thank you so much!!

[2022-11-11 14:38] kamilakrych opened #78 "Heating in MMV lower than in HVAC"
Some time ago, @nheeren has noticed that the MMV variants of some archetypes display not only lower cooling, but also heating:

<img src="https://user-images.githubusercontent.com/34264791/201360101-bc39eea5-c2b9-4920-9f71-61443ac1cbbe.png" width=40% height=40%>

Problem is two-fold, and I managed to fix it, but I'd like discuss how we should proceed with Problem 2.

**Problem 1: decision tree**
I

[2022-11-13 19:19] nheeren commented on #78
@kamilitsa That is some impressive detective work! Thank you!!

I'd prefer we change all (maybe not the hospital though ;) archetypes to AFN for reasons of consistency.
Do you or @shnkn see strong arguments against this move?

[2022-11-14 09:25] shnkn commented on #78
great work @kamilitsa!

In my archetypes, I also use AFN only, so there is nothing against it from my side @nheeren  :)

[2022-11-14 18:02] kamilitsa commented on #78
Ok, thanks for feedback :smile: So I'm going to proceed with the commits then. I plan to update all the archetypes to use AFN by default and to include the AFN converter as a part of BuildME. Even if we don't need to use the converter on a regular basis, it could be useful for potential future archetypes (and for other BuildME users).

@nheeren Why not hospital though? I actually managed to make t

[2022-11-14 21:57] nheeren commented on #78
Awesome!

As you like. But it already takes ages to simulate.

[2022-11-15 07:51] kamilitsa commented on #78
Not really! For me, hospital with the conventional HVAC takes 1.5 min and with the HVAC with AFN takes 3 min. Below you can see a summary of the simulation times on my laptop (which is not particularly powerful).

No. | Name | HVAC | AFN | MMV
-- | -- | -- | -- | --
1 | MFH | 02:41 | 08:37 | 12:04
2 | OfficeMedium | 00:39 | 02:34 | 03:08
3 | RetailStandalone | 00:13 | 01:36 | 02:17
4 | RetailStrip

[2022-11-16 07:03] nheeren commented on #78
Thorough as always! Thank you! In our last check-in we discussed that window ventilation in a hospital makes little sense. So I don't fully see the point. I suggest we leave the old HVAC archetypes available for reference. Ie have two files, one `Hospital.idf` and one `Hospital_HVAC.idf`. Do you think that makes sense?